{{>  nav}}

<div class="container mt-5 postContainer">
    <div class="row row-cols-1">
        <div class="col align-self-center py-3 d-flex justify-content-center">
            <div class="card w-75 text-white bg-secondary border-light">
                <div class="card-header">
                    <a class="link-light" href="/post/{{id}}">{{name}}</a>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>{{description}}</p>
                    <div class="d-flex justify-content-end">
                        <footer class="blockquote-footer text-white m-0">{{user.name}} <cite title="Source Title">{{format_date date_created}}</cite></footer>
                    </div>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-center">
            <form data-attr="{{id}}" class="form form-floating w-75 new-comment">
                    <textarea class="form-control bg-secondary" placeholder="Leave a comment here" id="commentDesc"></textarea>
                    <label class="text-white" for="commentDesc">Comment</label>
                <div class="col-12 d-flex justify-content-end mt-2">
                    <button type="submit" value="{{id}}" class="btn btn-secondary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    {{#if comments.length}}
    {{#each comments as |comment|}}
    <div class="col d-flex justify-content-center">
        <div class="card w-75 text-white bg-secondary border-light">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{comment.description}}</p>
                    <footer class="blockquote-footer text-white m-0">{{user.name}} <cite title="Source Title">{{format_date date_created}}</cite></footer>
                </blockquote>
            </div>
        </div>

    </div>
    {{/each}}
    {{/if}}
</div>

<script src="/js/comment.js"></script>